body {
  font-family: Arial, sans-serif;
  background-color: #f1dede;
  margin: 0;
  padding: 0;
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.container {
  background-color: #f1c2c2;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px; 
  color: #333; 
  margin-bottom: 30px; 
  text-align: center;
  text-transform: uppercase; 
  letter-spacing: 2px;
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p.error {
  color: red;
}

.previsualizacion-imagen {
  max-width: 100%;
  max-height: 300px;
  margin-top: 10px;
}

.archivos-cargados {
  margin-top: 20px;
  text-align: left;
}

.archivos-cargados ul {
  list-style: none;
  padding: 0;
}

.archivos-cargados li {
  margin-bottom: 5px;
}
